* {
    margin: 0;
    padding: 0;
}

.title-page,
.signup-container {
    background-color: #16262E;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.title-page-container {
    display: inherit;
    align-items: center;
    justify-content: center;
    gap: 80px;
}

.header-container h1 {
    font-size: 100px;
    color: white;
}

.header-container p {
    margin-top: 5px;
    font-size: 32px;
    color: #3C7A89;

}