body {
    margin: 0;
    background-color: #212221;
    font-family: 'Rubik', sans-serif;
}

.wrapper {
    display: grid;
    height: 100vh;
    align-items: top;
    grid-template-rows: [header] 5vh [title] 12vw [main] auto [footer] 5vh [row-end];
    grid-template-columns: [col-start] auto [left-bar] 10vw [main-posts] 50vw [main-users] 20vw [right-bar] auto [col-end];
}


/* The header, title and the clock */

.header {
    display: flex;
    padding: 10px;
    grid-row: header / title;
    grid-column: main-users / right-bar;
    text-align: right;
    align-items: center;
    justify-content: flex-end;
    color: white;
}

.login {
    padding: 5px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.login:hover {
    background-color: lightgrey;
}

.clockWrapper {
    grid-row: title / main;
    grid-column: left-bar / right-bar;
    display: flex;
    width: 100%;
    font-family: 'Barrio', cursive;
    color: white;
    font-size: 8vw;
    align-items: center;
    justify-content: center;
    line-height: 100%;
    background-color: #44449b;
}

#clockBackground {
    position: relative;
    margin: 0 1vw;
    height: 10vw;
    /*to make the height and width responsive*/
    width: 10vw;
    background: url(/images/clock.png) no-repeat;
    /*setting our background image*/
    background-size: 100%;
}

.clockWrapper::before {
    margin-right: -0.25em;
    content: "Real Time F";
}

.clockWrapper::after {
    margin-left: -0.25em;
    content: "rum";
}

#hour,
#minute,
#second {
    position: absolute;
    background: black;
    border-radius: 10px;
    transform-origin: bottom;
}
  
#hour {
    width: 1.8%;
    height: 15%;
    top: 34.5%;
    left: 48.85%;
    opacity: 0.8;
}
  
#minute {
    width: 1.6%;
    height: 20%;
    top: 29.5%;
    left: 48.9%;
    opacity: 0.8;
}
  
#second {
    width: 1%;
    height: 25%;
    top: 24.5%;
    left: 49.25%;
    opacity: 0.8;
}

/* The ads area styling */

.ads {
    grid-row: main / footer;
    grid-column: left-bar / main-posts;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #ddedf4;
    padding: 10px;
}

img {
    max-width: 100%;
    height: auto;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

/* The posts styling */

.posts {
    padding: 10px;
    grid-row: main / footer;
    grid-column: main-posts / main-users;
    background-color: rgb(216, 226, 230);
    overflow: auto;
}

input {
    width: 98%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 1%;
}

textarea {
    width: 98%;
    border-radius: 10px;
    border: 1px solid gray;
    padding: 1%;
}

button {
    width: 25%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 1%;
}

.single-post {
    padding: 1%;
    margin: 20px 0;
    width: 98%;
    background-color: #fff;
    height: fit-content;
    border-radius: 20px;
    box-shadow: 0px 3px lightgrey;
}

.post-header {
    padding: 10px;
    display: flex;
    justify-content: space-between;
    font-variant: small-caps;
    font-size: smaller;
}

.postHr {
    border-color: #fcfcfc;
    margin: 0;
}

.post-body {
    padding: 3px 10px 30px;
}

.post-title {
    margin-bottom: 20px;
    font-weight: bold;
    font-size: larger;
}

.post-content {
    line-height: 1.4;
    text-align: justify;
}

.post-footer {
    display: flex;
    justify-content: flex-end;
}

.post-comments {
    margin-top: 2px;
    padding: 5px;
    height: 30px;
    border: none;
    border-radius: 7px;
    background-color: transparent;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.post-comments:hover {
    background-color: lightgrey;
}

i {
    padding: 5px;
    border-radius: 7px;
}

.active {
    background-color: lightskyblue;
}


/* The users styling */

.userlist {
    padding: 10px;
    grid-row: main / footer;
    grid-column: main-users / right-bar;
    color: white;
    background-color: #1181b2;
}
